<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>
</head>
<body>
<div class="login-page">
    <form action="" method="post">
       <h1>Please log in!</h1>
        <label for="username">Korisnicko ime: </label><br>
        <input type="text" id="username" name="username"><br>
        <label for="password">Zaporka: </label><br>
        <input type="password" id="password" name="password"><br>
        <input type="submit" name="login" value="Log in!" />
        </form>
</div>
</body>
</html>